* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e6e6e6;    
}

h1 {
    color: #4e4e4e;
    font-size: 2,5em;
}

h2 {
    color: #f7b600;
}

h3 {
    color: #565656;
    background-color: #CCC;
    padding: 5px;
    margin-bottom: 5px;
}

a{
    text-decoration: none;
    
}

a:link, a:visited {
    color: #f7b600; 
}

a:hover{
    text-decoration: underline;
}

#cabecalho{
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#menu, #logo{
    padding: 10px;
}

#cabecalho a:link, #cabecalho a:visited {
    color: white;
    padding: 8px 12px;
}

#cabecalho a:hover{
    color: #f7b600;
    background-color: white;
    text-decoration: none;
}


#principal{ 
	width: 920px;
	margin: 0 auto;
	padding: 15px;
}

#postagens{
    width: 660px;
    float: left;
}

#lateral{
    width: 240px;
    float: right;
}


#rodape{
    clear: both;
    background-color: rgb(195, 195, 195);
    text-align: center;
    padding: 15px;
    margin-top: 10px;
}

.conteudo{
    padding: 20px;
	margin-bottom: 20px;
	background: white;
}

.branco{
    color: white;
}

.dataPostagem{
    font-size: 0.8em;
}

.conteudoLateral{
    background-color: white;
    padding: 10px;
    margin-bottom: 15px;
}

.postagemLateral{
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px solid #CCC;
}